.fondo {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/img1.jpeg);
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(0.5);
}

.texts {
  display: flex;
  justify-content: center;
  margin-inline: 4%;
  background-color: rgba(0, 0, 0, 0.5098039216);
  padding: 1%;
}
.texts p {
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Solway", serif;
  padding: 6px;
  color: white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.titulo,
.barra {
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoLogo {
  border-radius: 50%;
  width: 75px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  margin-right: 10%;
}

.textoTitulo {
  font-family: "Solway", serif;
  font-weight: 40vw;
  font-style: normal;
  color: white;
}

nav {
  margin: 1% 0 4% 0;
}
nav ul {
  padding: 3px;
  gap: 3vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5098039216);
}
nav ul li {
  font-family: "Solway", serif;
  list-style: none;
  padding-block: 6px;
  margin-top: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #2d2d27;
  transition: 0.2s;
  color: white;
}
nav ul li a:hover {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7529411765);
}

.inicioBtn {
  position: sticky;
  display: flex;
  justify-content: left;
  margin-left: 40px;
}
.inicioBtn a {
  text-decoration: none;
  color: #2d2d27;
  font-family: "Solway", serif;
  transition: 0.2s;
}
.inicioBtn a:hover {
  color: rgba(45, 45, 39, 0.3921568627);
  transform: scale(1.15);
}

h2 {
  font-family: "Solway", serif;
  font-weight: 20vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5098039216);
  color: white;
  margin-top: 60px;
  padding: 15px;
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.contenedorIndex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contactanos */
form {
  background-color: rgba(0, 0, 0, 0.5098039216);
  width: 80%;
  max-width: 500px;
  min-width: 150px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
  display: grid;
  gap: 10px;
}

label {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

input {
  display: block;
  padding: 3%;
  margin: 3% auto;
  width: 80%;
}

.video {
  display: flex;
  justify-content: center;
}
.video iframe {
  margin: 100px;
  border-radius: 30px;
  border: 8px solid rgba(15, 15, 1, 0.394);
  width: 100%;
  max-width: 500px;
  animation: iluminacion 2s infinite alternate;
}

@keyframes iluminacion {
  0% {
    box-shadow: 0 0 10px 0px #fff;
  }
  50% {
    box-shadow: 0 0 30px 0px rgba(23, 22, 22, 0.698);
  }
  100% {
    box-shadow: 0 0 10px 0px #fff;
  }
}
/* sobre nosotros */
.grid-container {
  display: grid;
  justify-content: center;
}
.grid-container .grid-item p {
  font-size: 19px;
  margin: 30px 10%;
  background-color: rgba(0, 0, 0, 0.5098039216);
  padding: 20px;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.grid-container .grid-item img {
  border: solid 2px;
  padding: 4px;
  border-radius: 5px;
  margin: 33px;
  width: 40%;
  display: block;
  margin: 0 auto 15vh auto;
}

.textoTienda {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5098039216);
  font-family: "Solway", serif;
  letter-spacing: 6px;
  margin-top: 75px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: 20px auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5098039216);
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 860px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid .grid-item h2 {
  margin: 30px 30px 0 30px;
  background-color: rgba(240, 248, 255, 0.62);
  padding: 2%;
  letter-spacing: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.grid img {
  max-width: 100%;
  width: 86%;
  height: auto;
  margin: 0 auto;
  border-radius: 9px;
  transition: 0.2s;
  margin: 10% auto;
}
.grid img:hover {
  transform: scale(1.15);
}

.productosCards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 5% 3% 20vh 3%;
  gap: 8% 0;
}
@media screen and (max-width: 860px) {
  .productosCards {
    grid-template-columns: repeat(1, 1fr);
    gap: 4% 0;
    margin-bottom: 30vh;
  }
}
.productosCards .carta {
  display: block;
  margin: 0 auto;
  width: 20vw;
  min-width: 130px;
}
@media screen and (max-width: 860px) {
  .productosCards .carta {
    width: 70%;
  }
}
.productosCards .carta .btn-comprar {
  border: 0;
  background-color: rgba(0, 0, 0, 0.625);
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 8px 30%;
  margin-top: 8px;
}
.productosCards p {
  font-size: 80%;
  display: block;
  align-items: center;
  color: #2d2d27;
}

footer {
  display: flex;
  justify-content: center;
  margin-block: 1%;
  background-color: rgba(0, 0, 0, 0.5098039216);
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  float: left;
  position: relative;
}
footer ul a {
  padding: 3vw;
  color: beige;
  font-size: 70%;
  display: block;
  margin: 0 auto;
}
footer ul a:hover {
  color: rgb(54, 28, 28);
}

/*# sourceMappingURL=estilos.css.map */
