@mixin gridSobreNosotros {
display: grid;
justify-content: center;
    @media screen and (max-width: 860px) {
        .grid {}
    }
}

@mixin gridSobreNosotrosItem {
    p {
        margin: 30px;
        background-color: $colorFondo;
        padding: 20px;
        letter-spacing: 1px;
        border-radius: 10px;
    }

    img {
        border: solid 2px;
        padding: 4px;
        border-radius: 5px;
        margin: 33px;
        width: 40%;
        display: block;
        margin: 0 auto 15vh auto;
    }
}