@mixin gridSobreNosotros {
display: grid;
justify-content: center;
    @media screen and (max-width: 860px) {
        
    }
}

@mixin gridSobreNosotrosItem {
    p {
        font-size: 19px;
        margin: 30px 10%;
        background-color: $colorFondo;
        padding: 20px;
        letter-spacing: 1px;
        color: white;
        text-shadow: 2px 2px 3px rgb(0, 0, 0);
    }

    img {
        border: solid 2px;
        padding: 4px;
        border-radius: 5px;
        margin: 33px;
        width: 40%;
        display: block;
        margin: 0 auto 15vh auto;
    }
}