h2 {
    font-family: $fuente;
    font-weight: 20vh;
    text-align: center;
    background-color: $colorFondo;
    color: white;
    margin-top: 60px;
    padding: 15px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
  }
  
  .contenedorIndex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* Contactanos */
  
  form {
    background-color: $colorFondo;
    width: 80%;
    max-width: 500px;
    min-width: 150px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;
    display: grid;
    gap: 10px;
  }

  label {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }
  
  input {
    display: block;
    padding: 3%;
    margin: 3% auto;
    width: 80%;
  }
  
  .video {
    display: flex;
    justify-content: center;
  
    iframe {
        margin: 100px;
        border-radius: 30px;
        border: 8px solid rgba(15, 15, 1, 0.394);
        width: 100%;
        max-width: 500px;
        animation: iluminacion 2s infinite alternate;
    }
  }

  @keyframes iluminacion {
    0% {
        box-shadow: 0 0 10px 0px #fff;
    }
    50% {
        box-shadow: 0 0 30px 0px rgba(23, 22, 22, 0.698);
    }
    100% {
        box-shadow: 0 0 10px 0px #fff;
    }
  }
  
  /* sobre nosotros */
    
    .grid-container {
        @include gridSobreNosotros;
        .grid-item {
            @include gridSobreNosotrosItem;
        } 
    }
  
  .textoTienda {
    display: flex;
    justify-content: center;
    color: white;
    background-color: $colorFondo;
    font-family: $fuente;
    letter-spacing: 6px;
    margin-top: 75px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 20px auto;
    margin-top: 100px;
    background-color: $colorFondo;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
        @media screen and (max-width:$mediaScreenMaxSize ) {
            grid-template-columns: repeat(1, 1fr);
    }
    
  
    .grid-item h2 {
        margin: 30px 30px 0 30px;
        background-color: rgba(240, 248, 255, 0.62);
        padding: 2%;
        letter-spacing: 1%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
  
    img {
        max-width: 100%;
        width: 86%;
        height: auto;
        margin: 0 auto;
        border-radius: 9px;
        transition: 0.2s;
        margin: 10%;
  
        &:hover {
            transform: scale(1.15);
        }
    }
  }
  
  .productosCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 5% 3% 20vh 3%;
    gap: 8% 0;
  
    @media screen and (max-width: 860px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 4% 0;
        margin-bottom: 30vh;
    }
  
    .carta {
        display: block;
        margin: 0 auto;
        width: 20vw;
        min-width: 130px;
        @media screen and (max-width: 860px) {
            width: 70%;
        }
        .btn-comprar {
          border: 0;
          background-color: rgba(0, 0, 0, 0.625);
          border-radius: 5px;
          color: white;
          display: block;
          margin: 0 auto;
          padding: 8px 30%;
          margin-top: 8px;
        }
    }
  
    p {
        font-size: 80%;
        display: block;
        align-items: center;
        color: $colorTexto;
    }
  }